body {
    font-size: 20px;
    font-weight: 400;
    color: black;
}

.lightBackground {
    background-color: white;
    color: black;
}

.darkBackground {
    background-color: black;
    color: white;
}